# Copiez ce fichier en .env et remplissez vos valeurs

# Django
SECRET_KEY=votre-cle-secrete-ici-changez-moi
DEBUG=True
APP_MODE=web
DB_ENGINE=postgresql

# Base de donnees PostgreSQL
DB_NAME=auto_compta_db
DB_USER=postgres
DB_PASSWORD=votre_mot_de_passe_postgres
DB_HOST=localhost
DB_PORT=5432

# Cle API Gemini (Google AI Studio - gratuit)
# Obtenez votre cle sur: https://aistudio.google.com
GEMINI_API_KEY=votre_cle_gemini_ici
