# Django desktop
SECRET_KEY=changez-moi-pour-la-version-desktop
DEBUG=False
APP_MODE=desktop
DB_ENGINE=sqlite

# Dossier local de donnees Windows
AUTO_COMPTA_DESKTOP_DATA_DIR=C:\Users\%USERNAME%\AppData\Local\AutoCompta

# Gemini reste un service en ligne
GEMINI_API_KEY=votre_cle_gemini_ici
